# Backend (Django)
backend/.venv/
backend/venv/
backend/env/
backend/__pycache__/
backend/*/__pycache__/
backend/*/*/__pycache__/
backend/*.pyc
backend/*.pyo
backend/db.sqlite3
backend/*.db
backend/*.log
backend/.env
backend/media/
backend/staticfiles/

# Frontend (Angular)
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/npm-debug.log
frontend/yarn-error.log
frontend/.sass-cache/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db
